body {
    font-family: 'Belleza';font-size: 22px;
}

.bg1 {
    background-color: #ebeae1;
}

.bg2 {
    background-color: #945c09;
}

.bg3 {
    background-color: maroon;
}

.underline {
    border-bottom: maroon solid 10px;
}

.vertical_center {
    padding-top: 30%;
}